.container {
    text-align: center;
}
.shaded {
    color: lightgray;
    border-color: lightgray;
}
#word {
    height: 80px;
    /*border: 1px dotted;*/
    padding-top: 40px;
    letter-spacing: 10px;
}
span {
    margin-right: 3px;
    padding: 2px 3px;
    border: 1px solid black;
    display: inline-block;
    width: 15px;
    cursor: pointer;
}
#winMessage {

}
